.location-wrapper {
  display: flex;
}

.location-img {
  flex-basis: 40.5%;
}

.location-img-wrapper {
  display: block;
  min-height: 250px;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  padding-top: unset;
  position: relative;
}

.location-img-wrapper::before {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: calc(350 / 777 * 100%);
}
.location-img-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-wrapper {
  min-height: 250px;
  height: 100%;
  flex-basis: 59.5%;
  overflow: hidden;
  max-width: 100%;
  position: relative;
}

.map-wrapper::before {
  display: block;
  content: "";
  height: 0;
  padding-top: calc(350 / 1142 * 100%);
}

.location__map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 992px) {
  .location-wrapper {
    flex-direction: column;
  }

  .location-img {
    height: unset;
  }

  .location-img-wrapper {
    display: block;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    padding-top: unset;
    position: relative;
  }

  .location-img-wrapper::before {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: calc(215 / 375 * 100%);
  }
  .location-img-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .map-wrapper {
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    position: relative;
  }

  .map-wrapper::before {
    display: block;
    content: "";
    height: 0;
    padding-top: calc(350 / 375 * 100%);
  }

  .location__map {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 580px) and (max-width: 992px) {
  .location-img-wrapper {
    display: block;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    padding-top: unset;
    position: relative;
  }

  .location-img-wrapper::before {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: calc(215 / 800 * 100%);
  }

  .location-img-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .map-wrapper {
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    position: relative;
  }

  .map-wrapper::before {
    display: block;
    content: "";
    height: 0;
    padding-top: calc(350 / 800 * 100%);
  }

  .location__map {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}
