.our-privilege {
  background-color: #f8fafb;
}

.our-privilege-wrapper {
  padding-top: 88px;
  padding-left: 95px;
  padding-right: 69px;
  padding-bottom: 52px;
}

.our-privilege-title {
  padding-bottom: 33px;
}

.layout-3-columns {
  display: flex;
  flex-wrap: wrap;
}

.layout-3-columns-item {
  /* margin-right: 20px;
  margin-bottom: 20px; */
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin-bottom: 38px;
}

.layout-3-columns-title {
  display: flex;
  align-items: center;
}

.layout-3-columns-marker {
  width: 6px;
  height: 6px;
  background-color: #00a8ff;
  /* display: flex; */
  margin-right: 8px;
  margin-left: 3px;
}

@media (max-width: 376px) {
  .our-privilege-wrapper {
    padding: 19px 20px 5px 18px;
  }

  .our-privilege-title {
    padding-bottom: 24px;
  }

  .layout-3-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .layout-3-columns-item {
    margin-bottom: 25px;
    max-width: 100%;
  }
}
