.our-privilege{
  background-color: #F8FAFB;
}

.our-privilege-wrapper{
  padding-top: 88px;
  padding-left: 103px;
  padding-right: 59px;
}

.our-privilege-title {
  padding-bottom: 33px;
}

.layout-3-columns{
  display: flex;
  flex-wrap: wrap;
  
  
}

.layout-3-columns-item{
  /* margin-right: 20px;
  margin-bottom: 20px; */
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin-bottom: 38px;
}



.layout-3-columns-title{
  display: flex;
  align-items: center;
}

.layout-3-columns-marker {
  width: 6px;
  height: 6px;
  background-color: #00A8FF;
  /* display: flex; */
  margin-right: 8px;
  margin-left: 3px;
}