.modal-our-products {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0b3142;
  z-index: 200;
  display: none;
  overflow-y: auto;
  z-index: 5;
  padding: 79px 0;
  z-index: 7;
  flex-direction: column;
  align-items: center;
}

.modal-show {
  display: flex !important;
}

.btn-exit {
  display: block;
  position: absolute;
  z-index: 201;
  right: 2.5%;
  top: 2.5%;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.btn-exit span,
.btn-exit span::before,
.btn-exit span::after {
  position: absolute;
  top: 50%;
  margin-top: -1;
  width: 35px;
  height: 2px;
  background-color: #718791;
}

.btn-exit span::before,
.btn-exit span::after {
  content: "";
  display: block;
}

.btn-exit span::after {
  transform: rotate(45deg);
}

.btn-exit span::before {
  transform: rotate(-45deg);
}

.btn-exit span {
  width: 0;
}

.slider {
  height: 0;
  width: 100%;
  padding-top: calc(550 / 650 * 100%);
  overflow: hidden;
}
