@import "../components/header/header.css";
@import '../components/who-we/who-we.css';
@import '../components/about-us/about-us.css';
@import '../components/our-privilege/our-privilege.css';
@import '../components/our-products/our-products.css';
@import '../components/team/team.css';
@import '../components/location/location.css';
@import '../components/contacts/contacts.css';
@font-face {
  font-family: HelveticaNeue; 
  src: url('/src/fonts/HelveticaNeueCyr-Light.ttf');
 }




 body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

h2{
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #022F40;
  display: block;
}

h3{
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;

}

h4{
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #2B2B2B;
  align-items: center;
}

.layout-3-columns-text {
  font-size: 14px;
  line-height: 22px;
  color: #2B2B2B;
  mix-blend-mode: normal;
  opacity: 0.8;
  max-width: 249px;
  padding-left: 17px;
  padding-top: 7px;
}

p{
  /* padding-bottom: 21px; */
}

.white {
  color: #FFFFFF;
}

/* our-products */



