.team {
  background-color: #f8fafb;
}
.team-wrapper {
  padding-top: 91px;
  padding-left: 99px;
  padding-right: 99px;
}

.team-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 52px;
}

.team-title-text {
  margin-bottom: 14px;
}

.team-descriptipn {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  width: 450px;
  text-align: center;
}

.layout-4-columns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 91px;
}

.worker-photo {
  width: 270px;
  height: 310px;
  margin-bottom: 23px;
}

.worker-position {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.45;
  margin-bottom: 5px;
}

.worker-name {
  margin-bottom: 5px;
}

.worker-contact {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

@media (max-width: 1400px) {
  .team-wrapper {
    padding: 90px 20px;
    // padding-top: 91px;
    // padding-left: 99px;
    // padding-right: 99px;
  }

  .worker-photo {
    width: 250px;
    height: 238px;
  }
}

@media (min-width: 377px) and (max-width: 992px) {
  .team-wrapper {
    padding: 34px 10% 0 10%;
  }

  .team-title {
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 26px;
  }

  .team-title-text {
    margin-bottom: 11px;
  }

  .team-descriptipn {
    width: 100%;
    text-align: start;
  }

  .layout-4-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0;
    justify-content: center;
    // flex-basis: 20;
  }

  .worker {
    margin-bottom: 37px;
    margin: 0 auto 20px;
    flex-basis: 40%;
  }

  .worker-photo {
    width: 250px;
    height: 238px;
  }
}

@media (max-width: 376px) {
  .team-wrapper {
    padding: 34px 20px 0 20px;
  }

  .team-title {
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 26px;
  }

  .team-title-text {
    margin-bottom: 11px;
  }

  .team-descriptipn {
    width: 100%;
    text-align: start;
  }

  .layout-4-columns {
    flex-direction: column;
    padding-bottom: 0;
  }

  .worker {
    margin-bottom: 37px;
  }

  .worker-photo {
    width: 250px;
    height: 238px;
  }
}
