.about-us{
  background-color: #F8FAFB;
}

.about-us-wrapper{
  padding-top: 90px;
  padding-left: 105px;
  padding-right: 89px;
}



.about-us-text{
  display: flex;
}

.about-us-title{
  margin-right: 382px;
}

.about-us-descript{
  max-width: 460px;
  line-height: 22px;
  color: #000000;
  font-size: 14px;
}

.about-us-descript  p{
  padding-top: 21px;
}




.about-us-img{
  margin-top: 64px;
}