.about-us {
  background-color: #f8fafb;
}

.about-us-wrapper {
  padding-top: 89px;
  padding-left: 95px;
  padding-right: 95px;
}

.about-us-text {
  display: flex;
}

.about-us-title {
  margin-right: 383px;
}

.about-us-descript {
  max-width: 460px;
  line-height: 22px;
  color: #000000;
  font-size: 14px;
}

.about-us-descript p {
  padding-top: 21px;
}

.about-us-img {
  margin-top: 64px;
}
