header {
  background-color: #f8fafb;
  position: fixed;
  width: 100%;
  z-index: 6;
  opacity: 1;
}

.logo {
  background-image: url("/src/img/header/logo.svg");
  width: 119.97px;
  height: 39.93px;
  cursor: pointer;
  display: block;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 99px;
  padding-right: 99px;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item {
  position: relative;
  text-align: center;
}
.nav-item-link {
  text-decoration: none;
  color: black;
  padding: 29px 31px 26px;
  display: inline-block;
  font-size: 14px;
}

.nav-item a:hover {
  color: #00a8ff;
}
.nav-item p:hover {
  color: #00a8ff;
}

.sec-nav-list {
  position: absolute;
  display: none;
  left: 0;
  width: 240px;
  flex-wrap: wrap;
  flex-direction: column;

  background-color: #f8fafb;
}

.sec-nav-item {
  padding: 5px 30px;
}

.sec-nav-item-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 34px;
  color: #59586b;
}

@media (min-width: 992px) {
  .nav-item:hover > .sec-nav-list {
    display: block;
  }
}

.choice-lang {
  height: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  width: 34px;
  background: url("/src/img/header/Triangle.png") no-repeat right white;
  -webkit-appearance: none;
  border: 0;
  outline: none;
  cursor: pointer;
  padding-top: 2px;
  background-color: #f8fafb;
}
.navigation-open {
  left: 0;
}

.burger-btn {
  display: none;
}

@media (max-width: 992px) {
  .header-wrapper {
    padding: 13px 18px 13px 20px;
    position: relative;
  }
  .logo {
    width: 102.4px;
    height: 34px;
    background-size: cover;
  }

  .navigation {
    top: 60px;
    position: fixed;
    z-index: 555;
    width: 100vw;
    bottom: 0;
    background-color: #0b3142;
    left: 100%;
    overflow-y: scroll;
    transition: all 1s ease-out;
    padding: 30px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigation-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    transition: all 0.5s;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .nav-item {
    margin-bottom: 47px;
  }

  .nav-item-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    padding: unset;
  }
  .heder-links::after {
    content: "";
    background-image: url("/src/img/header/Triangle-links.png");
    width: 9px;
    height: 5.14px;
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 1px;
    // position: absolute;
    transition: all 0.3s;
    // top: 50%;
    // transform: translateX(10px);
  }

  .heder-links-active::after {
    transform: rotate(-180deg);
    transition: all 0.3s;
  }

  .heder-links-active + .sec-nav-list {
    display: block;
  }
  .nav-item p:hover {
    color: white;
  }

  .sec-nav-list {
    position: inherit;
    background-color: transparent;
    text-align: center;
  }

  .sec-nav-item-link {
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
  }

  .navigation-open {
    left: 0;
    transition: all 1s ease-out;
  }

  .choice-lang {
    margin-left: auto;
    margin-right: 26px;
  }

  .btn-in-header {
    display: inline;
  }

  .burger-btn {
    display: block;
    position: relative;
    z-index: 4;
    cursor: pointer;
    width: 24px;
    height: 20px;
    top: -1px;
  }

  .burger-btn span,
  .burger-btn span::before,
  .burger-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    width: 24px;
    height: 3px;
    background-color: #222;
    border-radius: 25%;
  }

  .burger-btn span::before,
  .burger-btn span::after {
    content: "";
    display: block;
    transition: 0.2s;
  }

  .burger-btn span::before {
    transform: translateY(-8px);
  }
  .burger-btn span::after {
    transform: translateY(6px);
  }

  .burger-btn-active span {
    width: 0;
  }

  .burger-btn-active span:before {
    transform: rotate(-45deg);
  }
  .burger-btn-active span:after {
    transform: rotate(45deg);
  }
}
